<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novoapp</title>
</head>
<body style="background-color: #008b8b;">
  <header style="text-align: center; margin: 20px;">
    <img src="../assets/images/MeuNovoApp.png"  alt="Logotipo do aplicativo">
    <h1 style="font-size: 20px; font-weight: bold; font-style: italic; color: white;">Aprenda sobre energia verde</h1>
    <p style="font-size: 16px; font-weight: normal; color: white;">Uma plataforma interativa para aprender sobre conceitos e práticas relacionadas à energia verde e sustentabilidade.</p>
    <a href="../views/MeuNovoApplogin.html">Comece Agora</a>
  </header>
  <main>
    <section>
      <h2 style="font-size: 18px; font-weight: bold; color: white;">O que é energia verde?</h2>
      <p style="font-size: 16px; font-weight: normal; color: white;">Energia verde é a energia produzida de fontes renováveis, como solar, eólica, hidroelétrica e biomassa.</p>
      <p style="font-size: 16px; font-weight: normal; color: white;">Essas fontes de energia são mais sustentáveis do que os combustíveis fósseis, que contribuem para as mudanças climáticas.</p>
    </section>
    <section>
      <h2 style="font-size: 18px; font-weight: bold; color: white;">Por que aprender sobre energia verde?</h2>
      <p style="font-size: 16px; font-weight: normal; color: white;">Aprender sobre energia verde é importante para entender o futuro da energia e como podemos fazer a nossa parte para proteger o meio ambiente.</p>
      <p style="font-size: 16px; font-weight: normal; color: white;">Com esse conhecimento, você pode tomar decisões mais informadas sobre o uso de energia e apoiar o desenvolvimento de fontes de energia renováveis.</p>
    </section>
    <section>
      <h2 style="font-size: 18px; font-weight: bold; color: white;">O que você vai aprender?</h2>
      <ul>
        <li style="font-size: 16px; font-weight: normal; color: white;">Conceitos básicos de energia verde</li>
        <li style="font-size: 16px; font-weight: normal; color: white;">Práticas de conservação de energia</li>
        <li style="font-size: 16px; font-weight: normal; color: white;">Fontes de energia renováveis</li>
        <li style="font-size: 16px; font-weight: normal; color: white;">Tecnologias de energia verde</li>
      </ul>
    </section>
  </main>
  <footer>
    <p style="font-size: 16px; font-weight: normal; color: white;">Copyright © 2023</p>
  </footer>
</body>
</html>

