.module-page {
  padding: 20px;
  font-family: 'Open Sans', sans-serif; /* Usando Open Sans */
  background-color: #b2f2bb; /* Fundo verde claro */
  color: #333;
  line-height: 1.6;
  text-align: center; /* Centraliza todo o texto na página */
}

.module-page h1, .module-page h2, .module-page h3 {
  font-weight: bold; /* Títulos em negrito */
}

.module-page p, .module-page ul, .module-page ul li {
  margin: 10px 0;
  padding: 0; /* Remove padding para garantir alinhamento correto */
}

.module-page ul {
  list-style-position: inside; /* Posiciona a marcação de lista dentro do elemento para manter o alinhamento centralizado */
}
.back-button {
  padding: 10px 20px;
  background-color: #4CAF50;  /* Cor de fundo do botão */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #367c39;  /* Cor ao passar o mouse */
}